* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

#GameDiv {
  width: 900px;
  height: 600px;
  border: 1px solid transparent;
  position: absolute;
  top: 25%;
  left: 30%;
}

#GameBGDiv {
  background-image: url("../Assets/Pictures/Backgrounds/BlackAegisBG.jpg");
  width: 900px;
  height: 600px;
  background-size: 100% 100%;
}

#GameScreenDiv {
  width: 880px;
  height: 325px;
  border: 1px solid transparent;
  margin: 0px 8px;
  background-image: url("../Assets/Pictures/Backgrounds (Gif)/Harbor.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#GameVFXDiv {
  width: 880px;
  height: 325px;
  position: absolute;
}

#IdleAnimController {
  height: 50px;
  width: 70px;
  margin: 275px 230px;
  background: url("../Assets/Sprites/Player/Idle/Idle.png") 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  /* visibility: hidden; */
}

#RunAnimController {
  height: 52px;
  width: 69px;
  margin: 275px 230px;
  background: url("../Assets/Sprites/Player/Run/Run.png") 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  visibility: hidden;
}

#WeakAttackAnimController {
  height: 50px;
  width: 70px;
  margin: 275px 490px;
  background: url("../Assets/Sprites/Player/Attacks/Weak_Attack/WeakAttack.png")
    0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  visibility: hidden;
}

#MediumAttackStartAnimController {
  height: 66px;
  width: 71px;
  margin: 268px 218px;
  background: url("../Assets/Sprites/Player/Attacks/Medium_Attack/Medium_Attack_Start.png");
  background-repeat: no-repeat;
  position: absolute;
  visibility: hidden;
}

#MediumAttackChargeUpAnimController {
  height: 66px;
  width: 74px;
  margin: 268px 218px;
  background: url("../Assets/Sprites/Player/Attacks/Medium_Attack/Medium_Attack_Charge_Up.png");
  background-repeat: no-repeat;
  position: absolute;
  visibility: hidden;
}

#MediumAttackRushAnimController {
  height: 66px;
  width: 139.5px;
  margin: 268px 180px;
  background: url("../Assets/Sprites/Player/Attacks/Medium_Attack/Medium_Attack_Charge_Movement.png");
  background-repeat: no-repeat;
  position: absolute;
  visibility: hidden;
}

#MediumAttackReturnAnimController {
  height: 66px;
  width: 70px;
  margin: 270px 650px;
  background: url("../Assets/Sprites/Player/Attacks/Medium_Attack/Medium_Attack_Ending.png");
  background-repeat: no-repeat;
  position: absolute;
  visibility: hidden;
}

#StrongAttackAnimController {
  width: 61px;
  height: 66px;
  margin: 269px 220px;
  background: url("../Assets/Sprites/Player/Attacks/Strong_Attack/Strong_Attack_Start.png");
  background-repeat: no-repeat;
  position: absolute;
  visibility: hidden;
}

#JumpBackAnimController {
  height: 75px;
  width: 60px;
  margin: 250px 465px;
  /* border: 1px solid black; */
  background: url("../Assets/Sprites/Player/Jump_Back/JumpBack.png") -5px 0px;
  background-repeat: no-repeat;
  position: absolute;
  visibility: hidden;
}

#GameplayDiv {
  position: absolute;
}

#DefendAnimController {
  height: 130px;
  width: 130px;
  margin: 275px 193px;
  background: url("../Assets/Sprites/Player/Defend/BlueDefend.png") 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  visibility: hidden;
  opacity: 0.7;
}

#HealAnimController {
  height: 200px;
  width: 120px;
  margin: 200px 189px;
  background: url("../Assets/Sprites/Player/Heal/GreenHeal.png") 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.7;
  visibility: hidden;
}

#ChargeAnimController {
  height: 200px;
  width: 120px;
  margin: 200px 199px;
  background: url("../Assets/Sprites/Player/Charge/GoldenChargeOrb.png") 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.8;
  visibility: hidden;
}

#SpecialAttackAnimController {
  height: 52px;
  width: 60px;
  margin: 275px 230px;
  background: url("../Assets/Sprites/Player/SpecAttack/SpecialAttack.png") 0px
    0px;
  background-repeat: no-repeat;
  position: absolute;
  visibility: hidden;
}

#MageIdleAnimController {
  width: 49px;
  height: 49px;
  margin: 275px 540px;
  background: url("../Assets/Sprites/Enemies/Mages/Mage/Idle/MageIdle.png") 0px
    0px;
  background-repeat: no-repeat;
  position: absolute;
}

#MageRunAnimController {
  width: 75px;
  height: 49px;
  margin: 275px 538px;
  background: url("../Assets/Sprites/Enemies/Mages/Mage/Run/MageRun.png") 0px
    0px;
  background-repeat: no-repeat;
  position: absolute;
  visibility: hidden;
}

#ButtonDiv {
  margin: 50px 200px;
}

.GameButton:hover {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
}

#WeakAttackButton {
  width: 150px;
  height: 50px;
}

#MediumAttackButton {
  width: 150px;
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
}

#StrongAttackButton {
  width: 150px;
  height: 50px;
}

#DefendButton {
  width: 150px;
  height: 50px;
  /* margin: 10px 50px; */
}

#ChargeButton {
  width: 150px;
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
}

#HealButton {
  width: 150px;
  height: 50px;
}

#BurstAttackButton {
  width: 165px;
  height: 50px;
  margin: 0px 155px;
  border-radius: 20px;
}

button {
  background: none;
  border: 2px solid;
  border-radius: 20px;
  background-image: linear-gradient(to bottom right, #00acf4 0%, #a2a2a2 100%);
}
